@tailwind base;
@tailwind components;
@tailwind utilities;

.img-gallary {
    width: 80%;
    margin: 100px auto 50px;
    display: grid;
    grid-template-columns: 250px 250px 250px;
    justify-content: center;
    align-items: center;
    grid-gap: 30px;
}

.img-gallary img {
    width: 100%;
    cursor: pointer;
}

.img-gallary img:hover {
    transform: scale(0.8) rotate(-15deg);
    border-radius: 20px;
    box-shadow: 0 32px 75px rgba(68, 77, 136, 0.2);
    transition: all 0.5s;
}



.full-img {
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 5000;
}

.full-img img {
    width: 90%;
    max-width: 500px;
}

.full-img span {
    position: fixed;
    top: 5%;
    right: 5%;
    font-size: 24px;
    color: #fff;
    cursor: pointer;
    border: blue;
    border-radius: 50%;
    padding: 10px;
}

#Contact form input,
textarea {
    background: none;
    border-radius: 8px;
    padding: 8px;
    font-size: medium;
    outline: none;
    border: 2px solid cyan;
}

#Contact form input:focus,
textarea:focus {
    border: 2px solid blue;
}


@media only screen and (max-width:768px) {
    .img-gallary {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
}